*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

::selection {
  background-color: #16c79a;
  color: #fff; }

html {
  font-size: 62.5%;
  scroll-behavior: smooth; }

body {
  font-family: 'Lato', sans-serif;
  box-sizing: border-box; }

h2 {
  font-size: 5rem;
  text-transform: uppercase;
  color: #16c79a;
  text-align: center;
  margin: 2rem 0; }

p {
  font-size: 3rem;
  color: currentColor; }

h3 {
  font-size: 4rem;
  color: #fff; }

.btn, .btn--form {
  display: inline-block;
  padding: 1rem 3rem;
  background-color: #16c79a;
  border-radius: 5px;
  border: none;
  outline: none;
  position: relative;
  overflow: hidden;
  z-index: 10;
  transition: all 1s cubic-bezier(0.68, -0.6, 0.32, 1.6); }
  .btn::after, .btn--form::after {
    content: '';
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    width: 1px;
    height: 1px;
    transform: translate(-50%, -50%) scale(0);
    background-color: #128165;
    transition: all 1s cubic-bezier(0.68, -0.6, 0.32, 1.6);
    z-index: -20;
    backface-visibility: hidden; }
  .btn:hover::after, .btn--form:hover::after {
    transform: translate(-50%, -50%) scale(250); }
  .btn:hover, .btn--form:hover {
    color: #16c79a; }

.btn--form {
  min-width: 600px;
  margin-top: 3rem;
  font-size: 3rem;
  color: #fff; }

.header {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  min-height: 7vh; }
  .header .wrapper {
    min-height: 7vh;
    width: 90%;
    margin: auto;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff; }
  .header__branding {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .header__branding i {
      font-size: 3.2rem; }
    .header__branding h3 {
      margin-left: 2rem;
      font-size: 3.5rem; }
    .header__branding .light {
      font-weight: 400; }
  .header ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none; }
    .header ul li:not(:last-of-type) {
      margin-right: 3.7rem; }
    .header ul a {
      color: currentColor;
      text-decoration: none;
      font-size: 2rem;
      text-transform: uppercase;
      transition: all 0.6s cubic-bezier(0.68, -0.6, 0.32, 1.6); }
      .header ul a:hover {
        cursor: pointer;
        color: #16c79a; }

.section-hero {
  min-height: 100vh;
  background-image: url("../../img/img/hero_back.jpg");
  background-position: right;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 7vh 10rem 0 10rem;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start; }
  .section-hero h1 {
    font-size: 6rem;
    margin-bottom: 1.5rem;
    text-shadow: 0 1rem 2rem black; }
  .section-hero p {
    font-size: 3rem;
    text-shadow: 0 0.5rem 1rem black;
    margin-bottom: 6rem;
    color: #fff; }
  .section-hero a {
    text-decoration: none;
    font-size: 0.5rem;
    font-size: 3rem;
    box-shadow: 0 1rem 2rem black;
    color: currentColor;
    text-transform: uppercase; }

.section-services {
  width: 80%;
  margin: auto;
  padding-top: 7vh; }
  .section-services p {
    text-align: center; }

.accordion {
  margin: 3rem auto;
  max-width: 1000px; }
  .accordion p {
    padding-top: 3rem;
    text-align: left; }
  .accordion .panel {
    padding: 3rem 3rem;
    width: 100%;
    transition: all 0.5s ease-in;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .accordion .panel i {
      color: #16c79a;
      font-size: 3.5em;
      transition: all 0.3s ease; }
      .accordion .panel i:hover {
        cursor: pointer;
        color: #128165; }
    .accordion .panel:first-child {
      border-top-left-radius: 5px;
      border-top-right-radius: 5px; }
    .accordion .panel:last-child {
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px; }
    .accordion .panel:nth-of-type(1), .accordion .panel:nth-of-type(5) {
      background-color: #585858; }
    .accordion .panel:nth-of-type(3), .accordion .panel:nth-of-type(7) {
      background-color: #3e3e3e; }
    .accordion .panel:hover {
      cursor: pointer;
      background-color: #939393; }
    .accordion .panel:hover i {
      cursor: pointer;
      color: #128165; }
  .accordion .content {
    padding: 0rem 3rem;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
    max-height: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    transition: all 1s ease-in; }
    .accordion .content a {
      margin: 3rem 0;
      color: #fff;
      font-size: 3rem;
      text-decoration: none;
      text-transform: uppercase; }
  .accordion .active {
    max-height: 1000px; }

.footer {
  background-color: #3e3e3e;
  color: #fff;
  text-align: center;
  padding: 2rem 0; }

.section-contact {
  width: 80%;
  margin: auto;
  padding-bottom: 3rem; }
  .section-contact form {
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center; }
    .section-contact form label {
      font-size: 2.5rem;
      font-weight: 700;
      color: #3e3e3e;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start; }
    .section-contact form input,
    .section-contact form textarea {
      font-family: inherit;
      font-size: 2rem;
      color: #fff;
      margin-top: 1.5rem;
      border: none;
      outline: none;
      background-color: #3e3e3e;
      border-radius: 5px;
      padding: 2rem 2rem;
      resize: none;
      min-width: 600px;
      border-left: 5px solid #16c79a; }
