*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

::selection {
  background-color: #16c79a;
  color: #fff; }

html {
  font-size: 62.5%;
  scroll-behavior: smooth; }

body {
  font-family: 'Lato', sans-serif;
  box-sizing: border-box; }

h2 {
  font-size: 5rem;
  text-transform: uppercase;
  color: #16c79a;
  text-align: center;
  margin: 2rem 0; }

p {
  font-size: 3rem;
  color: currentColor; }

h3 {
  font-size: 4rem;
  color: #fff; }

.btn, .btn--form {
  display: inline-block;
  padding: 1rem 3rem;
  background-color: #16c79a;
  border-radius: 5px;
  border: none;
  outline: none;
  position: relative;
  overflow: hidden;
  z-index: 10;
  transition: all 1s cubic-bezier(0.68, -0.6, 0.32, 1.6); }
  .btn::after, .btn--form::after {
    content: '';
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    width: 1px;
    height: 1px;
    transform: translate(-50%, -50%) scale(0);
    background-color: #128165;
    transition: all 1s cubic-bezier(0.68, -0.6, 0.32, 1.6);
    z-index: -20;
    backface-visibility: hidden; }
  .btn:hover::after, .btn--form:hover::after {
    transform: translate(-50%, -50%) scale(250); }
  .btn:hover, .btn--form:hover {
    color: #16c79a; }

.btn--form {
  min-width: 600px;
  margin-top: 3rem;
  font-size: 3rem;
  color: #fff; }

.footer {
  background-color: #3e3e3e;
  color: #fff;
  text-align: center;
  padding: 2rem 0; }

.section-top {
  min-height: 30vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../../img/img/summary.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 3rem;
  text-align: center;
  position: relative;
  color: #fff; }
  .section-top h1 {
    font-size: 5rem; }
  .section-top .branding {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    position: absolute;
    top: 2rem;
    left: 2rem;
    font-size: 3rem;
    color: currentColor; }
    .section-top .branding__text {
      margin-left: 2rem;
      font-size: 2.7rem; }
    .section-top .branding .light {
      font-weight: 400; }

.card {
  max-width: 350px;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  background-color: #e0dede;
  border-radius: 5px;
  text-align: center; }
  .card img {
    height: auto;
    width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px; }
  .card h3 {
    margin-top: 1rem;
    color: #16c79a;
    font-size: 3rem;
    text-align: center; }
  .card .info {
    padding: 0 1.5rem;
    margin: 1rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 2rem; }
  .card .new {
    width: 100%;
    display: inline-block; }
  .card .total {
    margin: 1rem 0;
    width: 100%;
    display: inline-block; }
  .card .confirmed,
  .card .deaths,
  .card .recovered {
    padding: 0.5rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .card .recovered {
    color: #16c79a; }
  .card .deaths {
    color: #f05454; }
  .card .break {
    width: 3px;
    border-radius: 3px;
    background-color: #474747;
    align-self: stretch; }
  .card .bold {
    display: inline-block;
    padding-bottom: 1rem;
    font-weight: 700;
    text-align: center; }
  .card a {
    text-decoration: none;
    color: #fff;
    font-size: 2rem;
    margin: 1.3rem 0; }

.section-cards {
  padding: 5rem 5rem;
  display: grid;
  grid-gap: 3rem;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(min-content, 35rem)); }

.section-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4rem; }
  .section-controls input {
    outline: none;
    border: none;
    border-radius: 5px;
    padding: 1.5rem 3rem;
    font-family: inherit;
    background-color: #16c79a;
    color: #fff;
    margin-left: 2rem; }
  .section-controls label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 3rem; }
  .section-controls option {
    padding: 1rem 3rem;
    font-size: 2rem;
    font-family: inherit; }
